* {
    box-sizing: border-box !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body > #root > div {
    height: 100vh;
}

.full-screen {
    width: 100%;
    height: 100%;
}

.center-children {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Small screens */
@media screen and (max-width: 600px) {
    .hidden-sm {
        display: none;
    }
}